* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

#root {
    .App {
        height: 100%;
        .navigation {
            height: 8vh;
            font-size: 2.7rem;
            background-color: #f7f7f7;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .img-nav {
                height: 100%;
                width: 100px;
                padding-top: 10px;
                transform: translateY(36px);
                transition: transform 1s ease-in-out;
                &:hover {
                    transform: translateY(3px);
                }
                img {
                    height: 100px;
                }
            }
        }
        .body {
            position: relative;
            height: 100%;
            background-color: #77DA5B;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .card {
                height: 180px;
                width: 450px;
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
                border-radius: 20px;
                padding-right: 20px;
                margin-bottom: 3px;
                &:hover {
                    background-color: #add3e9;
                }
                .card-text {
                    text-align: center;
                }
                .card-img {
                    height: 100%;
                    width: 190px;
                    border-radius: 20px;
                    }
            }
        }
    }
}